# folders
/saved_objects/
/runs/
/models/
__pycache__/
.vscode/
.mypy_cache/
/results/
scalers/

# files
*.csv
*.out
*.parquet
*.xlsx
*.json
*.pkl
*.pt
*.ini

# Ignorar el entorno virtual
NLP_P2/
dudas/
202201175_P2_NLP/
Lab_2._Bigram_language_model/
